html, body {
	height:100%;
}
body {
	width: 100%;
	background: #b1e583;
	overflow-x: hidden;
	overflow-y: auto;
}
#header{
	position: absolute;
	z-index: 2;
	width: 235px;
	top: 50px;
}
#header h1{
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	width: 250px;
	background: #000;
	text-align: center;
}

#slogan{
	font-size: 20px;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	color: #ccc;
	text-align: center;
}

#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}

div#all {
  width: 100%;
  height: 100%;
}
#view {
    margin-top: 100px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 2px 1px 2px #e6e6e6;
    cursor: pointer;
    background: #fff; 
}
#mask{
    width: 300px;
    height: 225px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	opacity: 0;
    background-color: rgba(0, 128, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
#view img {
    display: block;
    position: relative;
	transition: all 0.2s ease-in-out;
    width: 300px;
    height: 225px;
}
#view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
	transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
#view p {
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
	transform: translateX(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

#info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
	opacity: 0;
    transition: all 0.2s ease-in-out;
}
#info:hover {
    box-shadow: 0 0 5px #000
}

#view:hover img { 
  transition-delay: 0.1s;
    transform: scale(6);
} 
#view:hover #mask { 
    opacity: 1;
}
#view:hover h2,
#view:hover p,
#view:hover #info {
    opacity: 1;
    transform: translateY(0px);
}
#view:hover p {
    transition-delay: 0.1s;
}
#view-first:hover #info {
    transition-delay: 0.2s;
}
div#all1 {
  width: 100%;
  height: 100%;
}
#view1 {
    margin-top: 100px;
	margin-left: 100px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 2px 1px 2px #e6e6e6;
    cursor: pointer;
    background: #fff; 
}
#mask1{
    width: 300px;
    height: 225px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	opacity: 0;
    background-color: rgba(0, 128, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
#view1 img {
    display: block;
    position: relative;
	transition: all 0.2s ease-in-out;
    width: 300px;
    height: 225px;
}
#view1 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
	transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
#view1 p {
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
	transform: translateX(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

#info1 {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
	opacity: 0;
    transition: all 0.2s ease-in-out;
}
#info1:hover {
    box-shadow: 0 0 5px #000
}

#view1:hover img { 
  transition-delay: 0.1s;
    transform: scale(6);
} 
#view1:hover #mask1 { 
    opacity: 1;
}
#view1:hover h2,
#view1:hover p,
#view1:hover #info1 {
    opacity: 1;
    transform: translateY(0px);
}
#view1:hover p {
    transition-delay: 0.1s;
}
#view1-first:hover #info1 {
    transition-delay: 0.2s;
}
.content{
	margin-top: 50px;
	margin-left: 50px;
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p,ul,a,form{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: rgba(0,0,0,0.6);
	padding: 10px;
	margin: 3px 0px;
	text-decoration: none;
}
.panel{
	width: 98%;
	min-height: 130%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index: 2;
	-webkit-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background-color: #b1e583;
	
}
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	background: #000;
	color: #fff;
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
}
#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn{
	border: 3px solid #fff;
	color: #fff;
}


.btn:hover,
.btn:active {
	color: #6A894F;
	background: #fff;
}