@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#nav-3 {
  background: #EEA200;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  padding: 0 20px;
  margin: 0 20px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 24px 30px;
}